.main-footer-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.main-footer {
    display: flex;
    flex-direction: row;
    height: 281px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 0;
    justify-content: center;
    height: 127px;
}

.coloumn-footer {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 150px;
    padding-top: 26px;
}

.footer-title {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #0A0A0A;
    margin: 6px 16px 6px;
}

.footer-list {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #717182;
    margin: 6px 16px 6px;
}

.subscribe-form {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #717182;
    margin: 6px 16px 6px;
}

.input-subscribe-conteiner {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.input-email-to-subscribe {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: rgb(113, 113, 130);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: #F3F3F5;
    width: 231px;
    height: 42px;
    margin-top: 12px;
    margin-right: 4px;
    padding: 8px 12px;
}

.input-email-to-subscribe::placeholder {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: regular;
    color: rgba(0, 0, 0, 0.5);
}

.sub-button-newsletter {
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #0A0A0A;
    width: 103.08px;
    height: 42px;
    font-size: 16px;
    cursor: pointer;
    margin: 12px 4px;
    padding: 8px 12px;
}

.all-rights-reserved {
    height: 57px;
    width: 1250px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 32px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.rights-text-styles {
    color: rgba(0, 0, 0, 0.5);
    margin: 32px;
}