.shopping-product-container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 130px;
  border-radius: 10px;
  border: 1px solid #0000001A;
  gap: 16px;
  padding: 16px;
  background-color: #FFFFFF;
}

.image-card-for-shopping-cart {
  width: 96px;
  height: 96px;
  border-radius: 10px;
}

.product-card-info-in-shopping {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 96px;
  gap: 8px;
}

.brand-in-shopping-cart {
  width: 128px;
  height: 20px;
  color: #717182;
  font-size: 14px;
  margin: 0px;
}

.model-in-shopping-cart {
  margin: 0px;
  width: 200px;
  height: 27px;
}

.current-counter-in-shopping-cart {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 32px;
  justify-content: space-between;
}

.button-container-in-shopping-cart {
  display: flex;
  flex-direction: row;
  width: 128px;
  height: 32px;
}

.price-product-in-shopping-cart {
  margin: 5px 0px;
  font-size: 20px;
  font-weight: 400;
  color: #0A0A0A;
}

.counter-add-product {
  width: 48px;
  height: 24px;
  margin: 4px 8px;
  padding: 0px 20px;
}

.minus-button-in-shopping-cart {
  height: 32px;
  width: 32px;
  background-color: #ECEEF2;
  border: none;
  border-radius: 10px;
  margin: 0px;
  cursor: pointer;
}

.plus-button-in-shopping-cart {
  height: 32px;
  width: 32px;
  background-color: #030213;
  border: none;
  border-radius: 10px;
  margin: 0px;
  cursor: pointer;
}

.delete-cart-icon {
  width: 36px;
  height: 36px;
  display: block;
}

.delete-cart-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.delete-cart-button:hover {
  opacity: 0.8;
}