.main-content-in-cart {
  width: 1200px;
  height: 926px;
  padding: 32px 32px 0px 32px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.title-cart-name {
  height: 36px;
  font-size: 24px;
  color: #0A0A0A;
  font-weight: 500;
  margin: 0;
}

.main-cart-container {
  width: 1136px;
  height: 100%;
  padding: 0px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
}

.product-card-grid-for-shopping-cart {
  display: flex;
  flex-direction: column;
  width: 746px;
  height: 379px;
  gap: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}